DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=cars
SECRET_API_KEY=

ACCESS_TOKEN_MINUTES=
REFRESH_TOKEN_DAYS=

API_ACCESS_TOKEN_MINUTES=
API_REFRESH_TOKEN_DAYS=




